<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auction House</title>
  <link rel="stylesheet" href="/stylesheets/other.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="wrapper">

    {{!-- navigation bar style2.css --}}
    <header class="navigation">
      <nav>
        <div class="icon">
          <h1>
            <a href="/">Auction <b id="red">House</b></a>
          </h1>
        </div>
        <div class="search_box">
          <input type="search" placeholder="search">
          <span class="fa fa-search"></span>
        </div>
  
        <ol>
          {{#if loggedIn}}
          <li><a href="#">contact</a></li>
          <li><a href="#">about</a></li>  
          <li><a href="/dashboard">Add Products</a></li>
          <li id="logout"><a>Logout</a></li>
          {{else}}
          <li><a href="#">contact</a></li>
          <li><a href="#">about</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="/signup">Signup</a></li>
          {{/if}}
        </ol>
      </nav>
    </header>
    
  
    <main class="auctions">
      {{{ body }}}
    </main>

  <footer>
    <h2>Project 2 by <b id="red2">Crow Talons</b></h2>
    <div>
      <a href="https://github.com/jarrettcoding/auction-house">github <b id="red3">repo</b></a>
		  <br>
		  &copy; 2022 Crow Talons, UT Coding Bootcamp.
    </div>
  </footer>
  
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

    {{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>