<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auction House</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<!-- navigation bar -->
    <header class="navigation">
        <nav>
            <div class="icon"><a href="/">Auction <b id="red">House</b></a>
            </div>
            <div class="search_box">
                <input type="search" placeholder="search">
                <span class="fa fa-search"></span>
            </div>
            <ol>
                <li><a href="#">bid</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="/dashboard">services</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">login</a></li>
            </ol>
        </nav>
    </header>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Auction House</a>
      </h1>
       <nav>
         {{#if loggedIn}}
        <a href="/dashboard">Selling</a>
        <button id="logout" class="btn-no-style">Log out</button>
        {{else}}
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
        {{/if}}
        </nav>
    </header>
    <main class="auctions">
      {{{ body }}}
    </main>
    <footer>
      Come Back Again!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>