<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auction House</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Auction House</a>
      </h1>
       <nav>
         {{#if loggedIn}}
        <a href="/dashboard">Selling</a>
        <button id="logout" class="btn-no-style">Log out</button>
        {{else}}
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
        {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Come Back Again!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>