<main class="chat-main">
    <div class="chat-messages">
                <div class="message">
                    <p class="meta">Brad <span>9:12pm</span></p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
                        repudiandae.
                    </p>
                </div>
                <div class="message">
                    <p class="meta">Mary <span>9:15pm</span></p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
                        repudiandae.
                    </p>
                </div>
    </div>
</main>
<div class="chat-form-container">
    <form id="chat-form">
    <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
    />
    <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
    </form>
</div>