<main class="chat-main">
    <div class="chat-messages">
            
    </div>
</main>
<div class="chat-form-container">
    <form id="chat-form">
    <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
    />
    <button class="btn"><i class=""></i> Send</button>
    </form>
</div>