<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style2.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title>auction house</title>
</head>


<body>
	<!-- navigation bar -->
	<header class="navigation">
		<nav>
			<div class="icon">
				<h1>Auction <b id="red">House</b>
				</h1>
			</div>
			<div class="search_box">
				<input type="search" placeholder="search">
				<span class="fa fa-search"></span>
			</div>
			<ol>
				<li><a href="#">bid</a></li>
				<li><a href="#">contact</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">login</a></li>
			</ol>
		</nav>
	</header>
  <!-- auctions -->
	<section class="new-product-form">
		<h2>
		  Selling
		</h2>
		
		<form action="/upload">
		<div id="">
		  <label for="img">Select image:</label>
		  <input type="file" id="image" name="image" accept="image/*">
		</div>
		  <div>
			<label for="product_name">Title</label>
			<input type="text" id="product_name" name="product-name" />
		  </div>
		  <div>
			<label for="product-description">Description</label>
			<input type="text" id="product-description" name="product-description" />
		  </div>
		  <div>
			<label for="product-price">Price</label>
			<input type="text" id="product-price" name="product-price" />
		  </div>
		  <div>
			<label for="product-category">Category</label>
			<input type="text" id="product-category" name="product-category />
		  </div>
		 <input type="submit">
		</form>
	  </section> 

	<!-- start footer -->
	<footer>
		<h2>Project 2 by Crow Talons</h2>
		<div>
			<p>
				&copy; 2022 Crow Talons, UT Coding Bootcamp.
			</p><br />
			<a href="#">github repo</a>
		</div>
	</footer>
</body>
</html>