<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style2.css">
    <title>auction house</title>
</head>

<body>
    <!-- start naviagtion -->
    <header id="header">
        <nav class="header-container">
            <div class="header-left">
                <h1>
                    <a href="/" title="home">auction house</a>
                </h1>
            </div>
            <div class="header-middle">
                <input type="text" placeholder="search" id="search" name="search" />
                <button type="search">search</button>
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li>
                            <a href="/">bids</a>
                        </li>
                        <li>
                            <a href="/">log-in</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="auctions">
        <section class="current-auction">
            <h2>- current auction -</h2>
            <div class="auction-item">
                <img src="#" alt="item" />
            </div>
            <div class="live-chat">
                <!-- live chat -->
                <input type="text" placeholder="comment" id="chat" name="comment" />
                <button type="bid">bid</button>
            </div>
        </section>

        <section class="upcoming-auction">
            <div class="flex-row">
                <h2>- upcoming auctions -</h2>
            </div>

            <div class="upcoming-auctions">
                <article class="upcoming-1">
                    <img src="/" />
                    <div class="auction details">
                        <h3></h3>
                    </div>
                </article>
                <div id="upcoming-1">
                    <img src="/" />
                    <p>item 1</p>
                    <p>date</p>
                    <p>initial bid</p>
                </div>
                <div id="upcoming-2">
                    <img src="/" />
                    <p>item 2</p>
                    <p>date</p>
                    <p>initial bid</p>
                </div>
                <div id="upcoming-3">
                    <img src="/" />
                    <p>item 3</p>
                    <p>date</p>
                    <p>initial bid</p>
                </div>
            </div>
        </section>

    </main>

    <!-- current auction item w/ live chat below -->

    <!-- start footer -->
    <footer>
        <h2>Project 2 by Crow Talons</h2>
        <div>
            <p>
                &copy; 2022 Crow Talons, UT Coding Bootcamp.
            </p><br />
            <a href="/">github repo</a>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>