{{!-- original code commented out --}}

{{!-- <form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form> --}}

<div class="signin container">
  <h2 class="active"> sign in </h2>

  <h2 class="nonactive"> sign up </h2>
  <form>
    <input type="text" class="text" name="username">
    <span>username</span>
    <br>
    <br>

    <input type="password" class="text" name="password">
    <span>password</span>
    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Keep me signed in</label>
    
    <button class="button">sign in</button>

    <hr>
    <a href="#">Forgot Password?</a>
  </form>
</div>


<script src="/javascript/login.js"></script>