<div class="signup-contaner">
    <h2 class="active"> sign up </h2>
  <form class="signup-form">
  <div>
    <input type="text" id="firstname-signup" placeholder="first name"/>
  </div>
  <div>
    <input type="text" id="lastname-signup" placeholder="last name" />
  </div>
  <div>
    <input type="text" id="address-signup" placeholder="address" />
  </div>
  <div>
    <input type="text" id="username-signup" placeholder="username" />
  </div>
  <div>
    <input type="text" id="email-signup" placeholder="email"/>
  </div>
  <div>
    <input type="password" id="password-signup" placeholder="password" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
<script src="/javascript/signup.js"></script>

</div>
