<section class="container">
  <h2 class="inactive"> sign in </h2>
  <h2 class="active"> sign up </h2>

  <form class="signup">
    <div>
      <input type="text" id="firstname" class="text" placeholder="first name" />
    </div>
    <div>
      <input type="text" id="lastname" class="text" placeholder="last name" />
    </div>
    <div>
      <input type="text" id="address" class="text" placeholder="address" />
    </div>
    <div>
      <input type="text" id="email" class="text" placeholder="email" />
    </div>
    <div>
      <input type="text" id="username" class="text" placeholder="username" />
    </div>
    <div>
      <input type="password" id="password" class="text" placeholder="password" />
    </div>
    <div>
      <button class="button" type="signup">sign up</button>
    </div>
  </form>
  <script src="/javascript/signup.js"></script>

</section>