:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: gray;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

body {
    color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* header & nav bar styles start */

header {
    padding: 20px 35px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    align-items: center;
    top: 0;
}

header a {
    /* text-decoration: none;
    color: var(--primary-color); */
}

header nav {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    font-size: 20px;
    margin: 10px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* footer */
footer {
    background-color: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: right;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
}

footer div a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* main body */

main {
    color: #000;
}