:root {
  --color-one: #ecf0f1;
  --color-two: #242524;
  --color-three: #aca9a9;
  --color-four: #cf0030;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif ;
}
  
  a {
    text-decoration: none;
    color: var(--color-one);
 }
 .pname{
   color: var(--color-two);
 }
 a:hover {
  color: var(--color-two);
  background: var(--color-three);
}
nav{
  display: flex;
  width: 100%;
  background: var(--color-two);
  /* position: relative; */
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}
nav div #red{
  color: var(--color-four);
}
nav .icon{
  font-size: 35px;
  font-weight: 800;
  color: var(--color-one);
}

nav ol{
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ol li{
  margin: 0 2px;
}

nav .search_box{
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .search_box input{
  border: none;
  outline: none;
  background: var(--color-one);
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
  border-radius: 15px;
}

nav .search_box span{
  color: var(--color-two);
  font-size: 20px;
  background: var(--color-one);
  height: 100%;
  padding: 10px;
  position: relative;
  z-index: 1;
  border-radius: 15px;
}

nav .search_box span:hover{
  color: var(--color-one);
}

nav .search_box span::after{
  height: 100%;
  width: 0%;
  content: '';
  background: var(--color-four);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
  border-radius: 15px;
}
nav .search_box span:hover::after{
  width: 100%;
}
nav .bar{
  position: relative;
  margin: auto;
  display: none;
}
nav .bar span{
  position: absolute;
  color: var(--color-one);
  font-size: 35px;
}

/* footer styles */
footer {
  padding: 20px 35px;
  color: var(--color-one);
  background-color: var(--color-two);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  top: 0;
}


.upcoming-auctions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ol li a, footer a{
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 15px;
}


  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color: #f3f3f3;
  }

  header {
    position: sticky;
    position: -webkit-sticky;
}
  

  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  img {
    max-height: 200px ;

  }
  .slider{
    max-width: 90%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally: */
    margin: auto;
    height: 300px;
}
/* The picture is scaled in relation to the parent element: */
.slider .item img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 100%;
    height: 300px;
}
/* Back and forward buttons: */
.slider .previous, .slider .next {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Styling the buttons themselves: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* When you hover over the buttons, add the background of the buttons: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Slide animation: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

