/* :root {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: gray;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

body {
    color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* header & nav bar styles start */

header {
    padding: 20px 35px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    align-items: center;
    top: 0;
}
#header {
    background-color: #f1f1f1; /* Grey background */
    padding: 50px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }
header div .header-conainer {
    display: flex;
}

header a {
    /* text-decoration: none;
    color: var(--primary-color); */
}

header nav {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    font-size: 20px;
    margin: 10px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* footer */
footer {
    background-color: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: right;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
}

footer div a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* main body */

main {
    color: #000;
} */

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-shrink: 0;
}
.flexbox-item-2 {
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}